@font-face {
  font-family: 'Geometria Regular';
  src: url("/app/fonts/Geometria.eot");
  src: url("/app/fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Geometria.woff") format("woff"), url("/app/fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Medium';
  src: url("/app/fonts/Geometria-Medium.eot");
  src: url("/app/fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Geometria-Medium.woff") format("woff"), url("/app/fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Bold';
  src: url("/app/fonts/Geometria-Bold.eot");
  src: url("/app/fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Geometria-Bold.woff") format("woff"), url("/app/fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
